
.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.add-cart {
    padding: 10px;
    width: auto;
    height: 50px;
    border: none;
    cursor: pointer;
    color: white;
}

.quantity-cart {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quantity-cart button {
    display: flex;
    align-items: center;
    padding: 20px;
    width: auto;
    height: 15px;
    border: none;
    cursor: pointer;
    color: white;
}

.quantity-cart span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    min-width: 40px; 
    text-align: center;
    color: black;
}
