
.navbar {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 40, 56);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar span {
  background-color: #1B89D4;
  color: white;
  padding: 2px 7px;
  border-radius: 50px;
  font-size: 0.9rem;
  position: absolute;
  top: -8px;
  right: -18px;
}


.item {
  margin: 0;
  padding: 20px;
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}

.item-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.item-title, .item-price {
  margin: 0;
  color: black;
}


.item-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background-color: rgb(209, 209, 209);
}