
.navbar {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;

}

.navbar li {
  position: relative;
}

.navbar a, span {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}