
.navbar {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;

}

.navbar li {
  position: relative;
}

.navbar a, span {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.quantity-products {
    padding: 2px 6px;
    position: absolute;
    top: -10px;
    right: -15px;
    border-radius: 75%;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 0);
}